#clock {
    background-color: aliceblue;
}

.header {
    background-color: aliceblue;
    text-align: center;
}

.buttons {
    width: 150px;
    height: 50px;
    border-radius: 20px;
    background-color: #4CAF50;
    font-size: 15px;
    font-weight: bold;
    margin-right: 1cm;
    margin-left: 1cm;
}