body {
margin: auto;
max-width: 1000px;
}

#clock {
    background-color: aliceblue;
}

.header {
    background-color: aliceblue;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.buttons {
    width: 150px;
    height: 50px;
    border-radius: 20px;
    background-color: #4CAF50;
    font-size: 15px;
    font-weight: bold;
    margin-left: 65px;
}

.hwrap {
    overflow: hidden;
    background: aliceblue;
    margin-bottom: 2vh;
}

.hmove {
    display: flex;
}

.hitem {
    flex-shrink: 0;
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    text-align: center;
    font-size: 2rem;
    font-weight: bolder;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
 
@keyframes tickerh {
    0% {
        transform: translate3d(100%, 0, 0);
    }

    100% {
        transform: translate3d(-500%, 0, 0);
    }
}

.hmove {
    animation: tickerh linear 20s infinite;
}

.hmove:hover {
    animation-play-state: paused;
}